
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            About Us
        </title>
        <link rel="shortcut icon" href="../assets/images/title-icon.svg">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/header.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel ="stylesheet" type="text/css" href="../assets/css/about.css">
    </head>
    <body>
        <!--Header-->
        <div class="header">
            <div class="header-left">
                <a href="./landingPage.html" class="project-name">STOL - Modern Cloud Storage</a>
            </div>
            <div class="header-right">
                <a href="./about.html" class="about-us">About us</a>
                <a href="./register.html" class="account-button">Register</a>
                <a href="./login.html" class="account-button">Log in</a>
            </div>
        </div>
      <div class="container padding">
          <div class="row">
            <div class="sub-row">
                <div class="cont"> <img src="../assets/images/inga.jpg"  alt="inga"></div>
                <cite>
                    Inga Trifan
                </cite>
                <p class="quote mt-text">
                    Peace was never an option
                </p>
           </div>
            <div class="sub-row" >
                <div class="cont"><img src="../assets/images/taba.jpg" alt ="taba"></div>
                <cite>
                    Robert Tabacaru
                </cite>
                <p class="quote mt-text">
                    This is fine, it's legal if you don't get caught
            
                <p>
            </div>
           <div class="sub-row">
                <div class="cont"><img src="../assets/images/oldMe.jpg" alt="miru" ></div>
                <cite>
                    Ciprian Miru
                </cite>
                <p class="quote mt-text">
                    Not bad, not terible
                </p>    
          </div>
        </div>

      </div>
    </body>

</html>
